.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

input {
  border: 1px solid white;
  border-bottom: 2px solid blue;
  margin: 1em;
  text-align: center;
}

.feedback-container {
  border: 1px solid blue;
}

.feedback-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback-topic {
  display: flex;
  justify-content: flex-start;
}
